.bio_section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  overflow: hidden;
  position: sticky;
  top: 0;
  left: 0;
  height: 100vh !important;
  max-height: 100vh !important;
}

.bio_section > div {
  margin-bottom: 0;
  padding-bottom: 5rem;
  border-bottom: 1px solid;
}

.bio_section > div:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
}

.bio_section > div:nth-last-child(-n + 2) {
  border-bottom: none;
}

.bio__1 {
  font-size: 2rem;
}

/* .bio-text {
  line-height: 1.5;
} */
.contact {
  display: flex;
  gap: 2rem;
  padding-top: 0.5rem;
  position: relative;
}

.email-section,
.instagram-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  gap: 0.3rem;
  position: relative;
}

.contact_sec {
  display: inline flex;
  align-items: center;
  gap: 0.5rem;
}

.copy-message {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  padding: 0.5rem;
  border-radius: 5px;
  font-size: 0.9rem;
  white-space: nowrap;
}

.show-message {
  display: block;
  opacity: 1;
}
.email-section,
.instagram-section,
.availability {
  font-size: 2rem;
}

.instagram-section a {
  cursor: pointer !important;
}

.email-section .material-symbols-outlined,
.instagram-section .material-symbols-outlined {
  font-size: 2rem;
}

.cv {
  display: inline-block;
  border-radius: 5px;
  transition: all 0.3s ease;
  cursor: pointer;
}
.link {
  text-decoration: underline;
}

footer a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.wia_banner img {
  max-width: 100%;
  height: auto;
  display: block;
  border-radius: 10px;
}
