#expSection {
  width: 100%;
  padding: 5rem 0 0 0 !important;
  margin: 0;
  right: 0;
  left: 0;
  height: 100vh;
}

.expSection::-webkit-scrollbar {
  display: none;
}
.row {
  display: flex;
  flex-wrap: wrap;
}

.exp-text-section {
  padding: 0.5rem 0;
  border-bottom: 1px solid;
  font-size: 2rem !important;
}
.column {
  flex: 20%;
  max-width: 33.3%;
  padding: 0 4px;
  transition: transform 2s ease-out, opacity 2s ease-out;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 99%;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s linear;
}

.column video {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s linear;
}
